@import '../../styles/variables.sass'

.container
  position: relative
  margin: 0 auto
  padding: $spacing
  max-width: 800px

.input
  appearance: none
  outline: none
  padding: $spacing
  border: 1px solid $input-border-color
  border-radius: 8px
  font-size: 16px
  font-family: $font-family
  text-transform: uppercase
  transition: 0.5s border-color
  width: 100%
  &:focus
    border-color: $input-border-color-active

.button
  display: flex
  padding: 8px 16px
  appearance: none
  outline: none
  color: $button-color
  background-color: $button-background-color
  border: 1px solid $button-border-color
  border-radius: 8px
  font-size: 24px
  font-family: $font-family
  align-items: center
  text-align: left
  cursor: pointer
  &:hover,
  &.button:focus,
  &.button:active
    color: $button-background-color
    background-color: $button-color
  &.link
    margin: 0
    padding: 6px
    background: none
    border: none
    &:hover,
    &:focus,
    &:active
      background: none
      border: none
      color: $button-color
  .arrow-forward
    border: solid
    border-width: 0 2px 2px 0
    width: 10px
    height: 10px
    align-self: center
    transform: rotate(-45deg)
  .arrow-back
    border: solid
    border-width: 2px 0 0 2px
    width: 10px
    height: 10px
    align-self: center
    transform: rotate(-45deg)
  .label
    flex: 1

.row
  display: flex
  flex-direction: row
  margin-bottom: $spacing
  .input
    &:first-of-type
      flex: 1
      margin-right: 8px
    &:last-of-type
      flex: 1
      margin-left: 8px
  .button
    border-radius: 0
    border-right: 0
    color: $button-inactive-color
    background-color: $button-inactive-background-color
    text-align: center
    font-weight: 800
    font-size: calc(8px + 2vmin)
    height: 72px
    width: 100%
    transition: 0.5s color
    &:focus,
    &:active,
    &.active
      color: $button-color
      background-color: $button-background-color
      border-bottom-color: $button-border-color
    &:hover
      color: $color
    &:first-of-type
      border-left: 1px solid $button-border-color
      border-top-left-radius: $border-radius
    &:last-of-type
      border-right: 1px solid $button-border-color
      border-top-right-radius: $border-radius

.column
  display: flex
  flex-direction: column
  margin-bottom: $spacing
  .button
    display: flex
    flex: 1 0
    border-bottom: 0
    border-radius: 0
    &:first-of-type
      border-top: 1px solid $button-border-color
      border-top-left-radius: $border-radius
      border-top-right-radius: $border-radius
    &:last-of-type
      border-bottom: 1px solid $border-color
      border-bottom-left-radius: $border-radius
      border-bottom-right-radius: $border-radius

.card
  padding: $spacing
  margin-bottom: $spacing
  border: 1px solid $color
  border-radius: $border-radius
  color: $color
  background-color: $button-background-color
  font-size: 24px
  text-align: left
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f0f2f5' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E")
  .manufacturer-logo
    position: absolute
    right: 32px
    top: 32px
    text-align: right
  .name
    color: $active-color
  .hsn-tsn
    font-size: 16px
    color: $inactive-color
  .type,
  .power
    font-size: 16px

.card-logo
  display: inline-block
  background-size: contain
  background-position: top right
  background-repeat: no-repeat
  width: 128px
  height: 72px
  @media (max-width: $mobile-width)
    width: 96px
    height: 64px

.row-input
  margin-bottom: $spacing
.x-button
  position: absolute
  margin-top: 16px
  margin-left: -40px
  height: 24px
  width: 24px
  cursor: pointer
  background-image: url("data:image/svg+xml,%3Csvg focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z' fill='%23CCD0D5'%3E%3C/path%3E%3C/svg%3E")
  color: $active-color

.loading
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  background: url("data:image/svg+xml;utf8,<svg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='96px' height='96px' viewBox='0 0 150 150'><g><g transform='translate(12.440559,7.3020706)'><path fill='%23000000' d='M 62.559184,-7.3020706 A 31.999999,31.999999 0 0 0 30.559583,24.69805 31.999999,31.999999 0 0 0 62.559184,56.698158 31.999999,31.999999 0 0 0 94.559299,24.69805 31.999999,31.999999 0 0 0 62.559184,-7.3020706 Z m -0.0134,14.0001851 a 18,18 0 0 1 0.0134,0 A 18,18 0 0 1 80.559637,24.69805 18,18 0 0 1 62.559184,42.697985 18,18 0 0 1 44.559245,24.69805 18,18 0 0 1 62.545744,6.6981145 Z'/><path fill='%23000000' d='M 25.34105,57.233304 A 31.999999,31.999999 0 0 0 -6.658559,89.233357 31.999999,31.999999 0 0 0 25.34105,121.23342 31.999999,31.999999 0 0 0 57.341162,89.233357 31.999999,31.999999 0 0 0 25.34105,57.233304 Z m -0.0134,14.00018 a 18,18 0 0 1 0.0134,0 A 18,18 0 0 1 43.341502,89.233357 18,18 0 0 1 25.34105,107.23325 18,18 0 0 1 7.341103,89.233357 18,18 0 0 1 25.32761,71.233484 Z'/><path fill='%23000000' d='M 99.827847,57.233291 A 31.999999,31.999999 0 0 0 67.828234,89.233352 31.999999,31.999999 0 0 0 99.827847,121.23342 31.999999,31.999999 0 0 0 131.82797,89.233352 31.999999,31.999999 0 0 0 99.827847,57.233291 Z m -0.0134,14.00018 a 18,18 0 0 1 0.0134,0 A 18,18 0 0 1 117.82831,89.233352 18,18 0 0 1 99.827847,107.23325 18,18 0 0 1 81.827896,89.233352 18,18 0 0 1 99.814407,71.233471 Z'/></g><animateTransform attributeName='transform' type='rotate' from='0 75 75' to='360 75 75' dur='2000ms' repeatCount='indefinite'></animateTransform></g></svg>") center no-repeat rgba(255, 255, 255, 0.5)
