@import '../../styles/variables.sass'

.container
  position: relative
  max-width: 800px
  margin: 0 auto
  padding: $spacing

.input
  appearance: none
  outline: none
  padding: $spacing
  border: 1px solid $button-border-color
  border-radius: 4px
  font-size: 16px
  font-family: $font-family
  text-transform: uppercase
  transition: 0.5s border-color
  width: 100%
  &:focus
    border-color: $primary-color

.button
  display: flex
  appearance: none
  outline: none
  color: $button-color
  background-color: $button-background-color
  font-size: 24px
  font-family: $font-family
  padding: 8px 16px
  border: 1px solid $button-border-color
  border-radius: 4px
  cursor: pointer
  text-align: left
  align-items: center
  &:hover,
  &.button:focus,
  &.button:active
    color: $button-background-color
    background-color: $button-color
  &.link
    margin: 0
    padding: 6px
    background: none
    border: none
    &:hover,
    &:focus,
    &:active
      background: none
      border: none
      color: $button-color
  .arrow-forward
    border: solid
    border-width: 0 2px 2px 0
    width: 10px
    height: 10px
    align-self: center
    transform: rotate(-45deg)
  .arrow-back
    border: solid
    border-width: 2px 0 0 2px
    width: 10px
    height: 10px
    align-self: center
    transform: rotate(-45deg)
  .label
    flex: 1

.row
  display: flex
  flex-direction: row
  margin-bottom: $spacing
  .input
    &:first-of-type
      flex: 1
      margin-right: 8px
    &:last-of-type
      flex: 1
      margin-left: 8px
  .button
    border-right: 0
    border-radius: 0
    color: $button-color-inactive
    background-color: $button-background-color-inactive
    text-align: center
    font-weight: 800
    font-size: 16px
    height: 72px
    width: 100%
    transition: 0.5s color
    &:focus,
    &:active,
    &.active
      color: $button-color
      background-color: $button-background-color
    &:hover
      color: $button-color
    &:first-of-type
      border-left: 1px solid $button-border-color
      border-top-left-radius: $button-border-radius
      border-bottom-left-radius: $button-border-radius
    &:last-of-type
      border-right: 1px solid $button-border-color
      border-top-right-radius: $button-border-radius
      border-bottom-right-radius: $button-border-radius

.column
  display: flex
  flex-direction: column
  margin-bottom: $spacing
  .button
    display: flex
    flex: 1 0
    border-bottom: 0
    border-radius: 0
    &:first-of-type
      border-top: 1px solid $button-border-color
      border-top-left-radius: $button-border-radius
      border-top-right-radius: $button-border-radius
    &:last-of-type
      border-bottom: 1px solid $button-border-color
      border-bottom-left-radius: $button-border-radius
      border-bottom-right-radius: $button-border-radius

.card
  padding: $spacing
  margin-bottom: $spacing
  border: 1px solid $button-color
  border-radius: $button-border-radius
  color: $button-color
  background-color: $button-background-color
  font-size: 24px

.manufacturer-logo
  max-width: 50px
  max-height: 20px