@import '../../styles/variables.sass'

.container
  position: relative
  margin: 0 auto
  padding: $spacing
  max-width: 800px

.button
  display: flex
  padding: 8px 16px
  appearance: none
  outline: none
  color: $button-color
  background-color: $button-background-color
  border: 1px solid $button-border-color
  border-radius: 8px
  font-size: 24px
  font-family: $font-family
  align-items: center
  text-align: left
  cursor: pointer
  &:hover,
  &.button:focus,
  &.button:active
    color: $button-background-color
    background-color: $button-color
  &.link
    margin: 0
    padding: 6px
    background: none
    border: none
    &:hover,
    &:focus,
    &:active
      background: none
      border: none
      color: $button-color
  .arrow-forward
    border: solid
    border-width: 0 2px 2px 0
    width: 10px
    height: 10px
    align-self: center
    transform: rotate(-45deg)
  .arrow-back
    border: solid
    border-width: 2px 0 0 2px
    width: 10px
    height: 10px
    align-self: center
    transform: rotate(-45deg)
  .label
    flex: 1

.row
  display: flex
  flex-direction: row
  margin-bottom: $spacing
  .input
    &:first-of-type
      flex: 1
      margin-right: 8px
    &:last-of-type
      flex: 1
      margin-left: 8px
  .button
    border-radius: 0
    border-right: 0
    color: $button-inactive-color
    background-color: $button-inactive-background-color
    text-align: center
    font-weight: 800
    font-size: calc(8px + 2vmin)
    height: 72px
    width: 100%
    transition: 0.5s color
    &:focus,
    &:active,
    &.active
      color: $button-color
      background-color: $button-background-color
      border-bottom-color: $button-border-color
    &:hover
      color: $color
    &:first-of-type
      border-left: 1px solid $button-border-color
      border-top-left-radius: $border-radius
    &:last-of-type
      border-right: 1px solid $button-border-color
      border-top-right-radius: $border-radius

.loading
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  background: url("data:image/svg+xml;utf8,<svg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='96px' height='96px' viewBox='0 0 150 150'><g><g transform='translate(12.440559,7.3020706)'><path fill='%23000000' d='M 62.559184,-7.3020706 A 31.999999,31.999999 0 0 0 30.559583,24.69805 31.999999,31.999999 0 0 0 62.559184,56.698158 31.999999,31.999999 0 0 0 94.559299,24.69805 31.999999,31.999999 0 0 0 62.559184,-7.3020706 Z m -0.0134,14.0001851 a 18,18 0 0 1 0.0134,0 A 18,18 0 0 1 80.559637,24.69805 18,18 0 0 1 62.559184,42.697985 18,18 0 0 1 44.559245,24.69805 18,18 0 0 1 62.545744,6.6981145 Z'/><path fill='%23000000' d='M 25.34105,57.233304 A 31.999999,31.999999 0 0 0 -6.658559,89.233357 31.999999,31.999999 0 0 0 25.34105,121.23342 31.999999,31.999999 0 0 0 57.341162,89.233357 31.999999,31.999999 0 0 0 25.34105,57.233304 Z m -0.0134,14.00018 a 18,18 0 0 1 0.0134,0 A 18,18 0 0 1 43.341502,89.233357 18,18 0 0 1 25.34105,107.23325 18,18 0 0 1 7.341103,89.233357 18,18 0 0 1 25.32761,71.233484 Z'/><path fill='%23000000' d='M 99.827847,57.233291 A 31.999999,31.999999 0 0 0 67.828234,89.233352 31.999999,31.999999 0 0 0 99.827847,121.23342 31.999999,31.999999 0 0 0 131.82797,89.233352 31.999999,31.999999 0 0 0 99.827847,57.233291 Z m -0.0134,14.00018 a 18,18 0 0 1 0.0134,0 A 18,18 0 0 1 117.82831,89.233352 18,18 0 0 1 99.827847,107.23325 18,18 0 0 1 81.827896,89.233352 18,18 0 0 1 99.814407,71.233471 Z'/></g><animateTransform attributeName='transform' type='rotate' from='0 75 75' to='360 75 75' dur='2000ms' repeatCount='indefinite'></animateTransform></g></svg>") center no-repeat rgba(255, 255, 255, 0.5)
