/* GENERAL */
$font-family: Oxanium, Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif
$spacing: 16px
$border-radius: 8px
$mobile-width: 768px

/* COLORS */
$color: #00204A
$active-color: #005792
$text-color: #222831
$background-color: #F0F2F5
$border-color: #CCD0D5
$inactive-color: #4B4F56
$highlight-color: #FFF288

/* HEADER */
$header-font-family: 'Russo One', $font-family

/* BUTTON */
$button-color: $color
$button-border-color: $border-color
$button-background-color: #FFFFFF
$button-inactive-color: $inactive-color
$button-inactive-border-color: $border-color
$button-inactive-background-color: #E4E6EB

/* BUTTON */
$input-color: $color
$input-border-color: $border-color
$input-border-color-active: $color
