/* GENERAL */
$font-family: Oxanium, Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif
$font-size: 16px
$spacing: 16px
$border-radius: 8px
$mobile-width: 768px

/* COLORS */
$color-1: #FFFFFF
$color-2: #F0F2F5
$color-3: #CCD0D5
$color-4: #4B4F56
$color-5: #222831
$color-6: #00204A
$color-7: #005792
$color-8: #E6FCFF
$color-9: #FFF288

/* HEADER */
$header-font-family: 'Russo One', $font-family

/* X ICON */
$svg-x-1: "%3Csvg focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23CCD0D5' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'>%3C/path%3E%3C/svg%3E"
$svg-x-2: "%3Csvg focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23005792' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'>%3C/path%3E%3C/svg%3E"