$primary-color: #00204A
$color: #222831
$background-color: #EEEEEE
$button-color: #00204A
$button-color-inactive: #666666
$button-background-color: #FFFFFF
$button-background-color-inactive: #DDDDDD
$button-border-color: #999999
$button-border-radius: 4px
$spacing: 16px
$font-family: Oxanium, Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif
$header-font-family: 'Russo One', Oxanium, Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif